# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://elishateng.github.io
date_format: "ordinal"
title: Elisha
subtitle: "Hyvää päivää.<br>Minun nimeni on Elisa.<br>Hauska tutustua."
description: "Elisha's Blog"
keywords: Elisha, Teng, elishateng
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 3

# ---------------- #
#      Author      #
# ---------------- #
author: Elisha Teng
organization: 
organization_url: 
github_username: elishateng
location: Nanjing, China
email: xb.teng@samsung.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: Home

  -
    href: /categories/
    label: Categories

#   -
#     href: /archives/
#     label: 归档

  -
    href: /wiki/
    label: Wiki

  -
    href: /links/
    label: Links

  -
    href: /about/
    label: About

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: elishateng/elishateng.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: 
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: elishateng
    repo: elishablog-comments
    oauth:
        client_id: d582b44490b2569c03a8
        client_secret: 362a09196fafe7b58ffc438985d9a38dc56f555f
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: elishateng
    repo: elishablog-comments
    clientID: d582b44490b2569c03a8
    clientSecret: 362a09196fafe7b58ffc438985d9a38dc56f555f
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1





